.body-web{
    width: 100%;
    position: relative;
}

.line {
    position: absolute;
    left: 145px;
    top: 80px;
    bottom: 0;
    width: 0.5px;
    margin: 0;
    padding: 0;
    background-color: #b9b5b0;
    z-index: 1;
}