.body-web__your-heros {
    width: 100vw;
    position: relative;
    height: 886.66px;
    z-index: 2;
}

.body-web__your-heros::before {
    position: absolute;
    content: "";
    top: 0;
    left: 250px;
    width: 80%;
    height: 1px;
    background-color: #b9b5b0;
}

.body-web__your-heros > img {
    width: 100vw;
    height: auto;
}

.body-web__your-heros-content {
    position: absolute;
    left: 145px;
    top: 140px;
    width: 495px;
    padding-top: 20px;
    border-top: 2px solid #b9b5b0;
}

.body-web__your-heros-content > h2 {
    font-size: 100px;
    margin: 0 0 40px ;
    line-height: 1.3;
}

.body-web__your-heros-content > h5 {
    font-size: 21px;
    line-height: 1.25;
}

.body-web__your-heros-content > p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 92px;
    width: 350px;
}

.body-web__your-hero-btn {
    position: relative;
}

.your-hero_btn {
    display: block;
    padding: 20px 60px;
    color: #fff;
    font-weight: 700;
    background-color: #ff4655;
    z-index: 1;
    cursor: pointer;
    border: 0;
    margin: 0;

}

.your-hero_btn:hover {
    /* filter: brightness(1.25); */
    background-color: #b9b5b0;
    color: #000;
}

.label_your_hero {
    z-index: 100;
    font-size: 14px;
}